* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.header {
  text-align: center;
  background: linear-gradient(rgb(243, 151, 98), rgb(255, 230, 215));
  padding: 20px;
}

.header li {
  list-style-type: none;
}

.app {
  height: 100vh;
}

.app__content {
  display: flex;
  flex-direction: row;
}

.app__playWindow {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app__playWindow__img {
  width: 600px;
}

.app__events {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.app__events__event {
  display: flex;
  flex-direction: column;

  max-width: 200px;
  margin: 10px;
  background: rgb(204, 204, 204);
  border: black 1px solid;
}
